<a href="https://colab.research.google.com/github/codeplinth/pandasbootcamp/blob/master/Pandas_Pokemon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
!ls "/content/drive/My Drive/data"

 bigmac.csv			    fortune1000.csv
 chicago.csv			    google_stock_price.csv
 data.csv			    houseprice.csv
'Data - Multiple Worksheets.xlsx'   IMDB-Movie-Data.csv
'Data - Single Worksheet.xlsx'	    index.csv
 diabetes.csv			    jamesbond.csv
 ecommerce.csv			    lang.csv
 employees.csv			    nba.csv
 foods.csv			    pokemon.csv

In [6]:
import pandas as pd

In [31]:
df = pd.read_csv('/content/drive/My Drive/data/pokemon.csv')

In [10]:
df.head()

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False
4  4             Charmander   Fire  ...    65           1      False

[5 rows x 12 columns]

In [12]:
df.tail(3)

       #                 Name   Type 1  ... Speed  Generation  Legendary
797  720  HoopaHoopa Confined  Psychic  ...    70           6       True
798  720   HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721            Volcanion     Fire  ...    70           6       True

[3 rows x 12 columns]

In [13]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [14]:
df['Name']

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [15]:
df[['Name','Generation','Speed']]

                      Name  Generation  Speed
0                Bulbasaur           1     45
1                  Ivysaur           1     60
2                 Venusaur           1     80
3    VenusaurMega Venusaur           1     80
4               Charmander           1     65
..                     ...         ...    ...
795                Diancie           6     50
796    DiancieMega Diancie           6    110
797    HoopaHoopa Confined           6     70
798     HoopaHoopa Unbound           6     80
799              Volcanion           6     70

[800 rows x 3 columns]

In [21]:
df.describe()

                #          HP      Attack  ...     Sp. Def       Speed  Generation
count  800.000000  800.000000  800.000000  ...  800.000000  800.000000   800.00000
mean   362.813750   69.258750   79.001250  ...   71.902500   68.277500     3.32375
std    208.343798   25.534669   32.457366  ...   27.828916   29.060474     1.66129
min      1.000000    1.000000    5.000000  ...   20.000000    5.000000     1.00000
25%    184.750000   50.000000   55.000000  ...   50.000000   45.000000     2.00000
50%    364.500000   65.000000   75.000000  ...   70.000000   65.000000     3.00000
75%    539.250000   80.000000  100.000000  ...   90.000000   90.000000     5.00000
max    721.000000  255.000000  190.000000  ...  230.000000  180.000000     6.00000

[8 rows x 8 columns]

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

In [18]:
df.iloc[0:4]

   #                   Name Type 1  ... Speed  Generation  Legendary
0  1              Bulbasaur  Grass  ...    45           1      False
1  2                Ivysaur  Grass  ...    60           1      False
2  3               Venusaur  Grass  ...    80           1      False
3  3  VenusaurMega Venusaur  Grass  ...    80           1      False

[4 rows x 12 columns]

In [19]:
df.iloc[2,1]

'Venusaur'

In [20]:
df.loc[df['Type 1'] == 'Grass']

       #                   Name Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur  Grass  ...    45           1      False
1      2                Ivysaur  Grass  ...    60           1      False
2      3               Venusaur  Grass  ...    80           1      False
3      3  VenusaurMega Venusaur  Grass  ...    80           1      False
48    43                 Oddish  Grass  ...    30           1      False
..   ...                    ...    ...  ...   ...         ...        ...
718  650                Chespin  Grass  ...    38           6      False
719  651              Quilladin  Grass  ...    57           6      False
720  652             Chesnaught  Grass  ...    64           6      False
740  672                 Skiddo  Grass  ...    52           6      False
741  673                 Gogoat  Grass  ...    68           6      False

[70 rows x 12 columns]

In [23]:
df.sort_values(['Type 1','Name'])

       #                   Name Type 1  ... Speed  Generation  Legendary
678  617               Accelgor    Bug  ...   145           5      False
182  168                Ariados    Bug  ...    40           2      False
290  267              Beautifly    Bug  ...    65           3      False
18    15               Beedrill    Bug  ...    75           1      False
19    15  BeedrillMega Beedrill    Bug  ...   145           1      False
..   ...                    ...    ...  ...   ...         ...        ...
351  321                Wailord  Water  ...    60           3      False
10     8              Wartortle  Water  ...    58           1      False
372  340               Whiscash  Water  ...    60           3      False
301  278                Wingull  Water  ...    85           3      False
209  194                 Wooper  Water  ...    15           2      False

[800 rows x 12 columns]

In [37]:
df.iloc[0,6]

49

In [40]:
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

In [41]:
df

       #                   Name   Type 1  ... Generation  Legendary  Total
0      1              Bulbasaur    Grass  ...          1      False    318
1      2                Ivysaur    Grass  ...          1      False    405
2      3               Venusaur    Grass  ...          1      False    525
3      3  VenusaurMega Venusaur    Grass  ...          1      False    625
4      4             Charmander     Fire  ...          1      False    309
..   ...                    ...      ...  ...        ...        ...    ...
795  719                Diancie     Rock  ...          6       True    600
796  719    DiancieMega Diancie     Rock  ...          6       True    700
797  720    HoopaHoopa Confined  Psychic  ...          6       True    600
798  720     HoopaHoopa Unbound  Psychic  ...          6       True    680
799  721              Volcanion     Fire  ...          6       True    600

[800 rows x 13 columns]

In [42]:
df =  df.drop(columns=['Total'])

In [43]:
df

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]

In [44]:
df['Total'] = df.iloc[:,4:10].sum(axis=1)

In [45]:
df

       #                   Name   Type 1  ... Generation  Legendary  Total
0      1              Bulbasaur    Grass  ...          1      False    318
1      2                Ivysaur    Grass  ...          1      False    405
2      3               Venusaur    Grass  ...          1      False    525
3      3  VenusaurMega Venusaur    Grass  ...          1      False    625
4      4             Charmander     Fire  ...          1      False    309
..   ...                    ...      ...  ...        ...        ...    ...
795  719                Diancie     Rock  ...          6       True    600
796  719    DiancieMega Diancie     Rock  ...          6       True    700
797  720    HoopaHoopa Confined  Psychic  ...          6       True    600
798  720     HoopaHoopa Unbound  Psychic  ...          6       True    680
799  721              Volcanion     Fire  ...          6       True    600

[800 rows x 13 columns]

In [47]:
df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison')]

       #                   Name Type 1  ... Generation  Legendary  Total
0      1              Bulbasaur  Grass  ...          1      False    318
1      2                Ivysaur  Grass  ...          1      False    405
2      3               Venusaur  Grass  ...          1      False    525
3      3  VenusaurMega Venusaur  Grass  ...          1      False    625
48    43                 Oddish  Grass  ...          1      False    320
49    44                  Gloom  Grass  ...          1      False    395
50    45              Vileplume  Grass  ...          1      False    490
75    69             Bellsprout  Grass  ...          1      False    300
76    70             Weepinbell  Grass  ...          1      False    390
77    71             Victreebel  Grass  ...          1      False    490
344  315                Roselia  Grass  ...          3      False    400
451  406                  Budew  Grass  ...          4      False    280
452  407               Roserade  Grass  ...          4      False    515
651  590                Foongus  Grass  ...          5      False    294
652  591              Amoonguss  Grass  ...          5      False    464

[15 rows x 13 columns]

In [48]:
df.loc[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Poison')]

       #                   Name Type 1  ... Generation  Legendary  Total
0      1              Bulbasaur  Grass  ...          1      False    318
1      2                Ivysaur  Grass  ...          1      False    405
2      3               Venusaur  Grass  ...          1      False    525
3      3  VenusaurMega Venusaur  Grass  ...          1      False    625
16    13                 Weedle    Bug  ...          1      False    195
..   ...                    ...    ...  ...        ...        ...    ...
718  650                Chespin  Grass  ...          6      False    313
719  651              Quilladin  Grass  ...          6      False    405
720  652             Chesnaught  Grass  ...          6      False    530
740  672                 Skiddo  Grass  ...          6      False    350
741  673                 Gogoat  Grass  ...          6      False    531

[89 rows x 13 columns]

In [53]:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

In [54]:
new_df

       #                   Name Type 1  ... Generation  Legendary  Total
2      3               Venusaur  Grass  ...          1      False    525
3      3  VenusaurMega Venusaur  Grass  ...          1      False    625
50    45              Vileplume  Grass  ...          1      False    490
77    71             Victreebel  Grass  ...          1      False    490
652  591              Amoonguss  Grass  ...          5      False    464

[5 rows x 13 columns]

In [56]:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]
new_df.reset_index(drop=True,inplace=True)
new_df

     #                   Name Type 1  ... Generation  Legendary  Total
0    3               Venusaur  Grass  ...          1      False    525
1    3  VenusaurMega Venusaur  Grass  ...          1      False    625
2   45              Vileplume  Grass  ...          1      False    490
3   71             Victreebel  Grass  ...          1      False    490
4  591              Amoonguss  Grass  ...          5      False    464

[5 rows x 13 columns]

In [57]:
df.loc[df['Name'].str.contains('Mega')]

       #                       Name    Type 1  ... Generation  Legendary  Total
3      3      VenusaurMega Venusaur     Grass  ...          1      False    625
7      6  CharizardMega Charizard X      Fire  ...          1      False    634
8      6  CharizardMega Charizard Y      Fire  ...          1      False    634
12     9    BlastoiseMega Blastoise     Water  ...          1      False    630
19    15      BeedrillMega Beedrill       Bug  ...          1      False    495
23    18        PidgeotMega Pidgeot    Normal  ...          1      False    579
71    65      AlakazamMega Alakazam   Psychic  ...          1      False    590
87    80        SlowbroMega Slowbro     Water  ...          1      False    590
102   94          GengarMega Gengar     Ghost  ...          1      False    600
124  115  KangaskhanMega Kangaskhan    Normal  ...          1      False    590
137  127          PinsirMega Pinsir       Bug  ...          1      False    600
141  130      GyaradosMega Gyarados     Water  ...          1      False    640
154  142  AerodactylMega Aerodactyl      Rock  ...          1      False    615
163  150        MewtwoMega Mewtwo X   Psychic  ...          1       True    780
164  150        MewtwoMega Mewtwo Y   Psychic  ...          1       True    780
168  154                   Meganium     Grass  ...          2      False    525
196  181      AmpharosMega Ampharos  Electric  ...          2      False    610
224  208        SteelixMega Steelix     Steel  ...          2      False    610
229  212          ScizorMega Scizor       Bug  ...          2      False    600
232  214    HeracrossMega Heracross       Bug  ...          2      False    600
248  229      HoundoomMega Houndoom      Dark  ...          2      False    600
268  248    TyranitarMega Tyranitar      Rock  ...          2      False    700
275  254      SceptileMega Sceptile     Grass  ...          3      False    630
279  257      BlazikenMega Blaziken      Fire  ...          3      False    630
283  260      SwampertMega Swampert     Water  ...          3      False    635
306  282    GardevoirMega Gardevoir   Psychic  ...          3      False    618
327  302        SableyeMega Sableye      Dark  ...          3      False    480
329  303          MawileMega Mawile     Steel  ...          3      False    480
333  306          AggronMega Aggron     Steel  ...          3      False    630
336  308      MedichamMega Medicham  Fighting  ...          3      False    510
339  310    ManectricMega Manectric  Electric  ...          3      False    575
349  319      SharpedoMega Sharpedo     Water  ...          3      False    560
354  323      CameruptMega Camerupt      Fire  ...          3      False    560
366  334        AltariaMega Altaria    Dragon  ...          3      False    590
387  354        BanetteMega Banette     Ghost  ...          3      False    555
393  359            AbsolMega Absol      Dark  ...          3      False    565
397  362          GlalieMega Glalie       Ice  ...          3      False    580
409  373    SalamenceMega Salamence    Dragon  ...          3      False    700
413  376    MetagrossMega Metagross     Steel  ...          3      False    700
418  380          LatiasMega Latias    Dragon  ...          3       True    700
420  381          LatiosMega Latios    Dragon  ...          3       True    700
426  384      RayquazaMega Rayquaza    Dragon  ...          3       True    780
476  428        LopunnyMega Lopunny    Normal  ...          4      False    580
494  445      GarchompMega Garchomp    Dragon  ...          4      False    700
498  448        LucarioMega Lucario  Fighting  ...          4      False    625
511  460    AbomasnowMega Abomasnow     Grass  ...          4      False    594
527  475        GalladeMega Gallade   Psychic  ...          4      False    618
591  531          AudinoMega Audino    Normal  ...          5      False    545
796  719        DiancieMega Diancie      Rock  ...          6       True    700

[49 rows x 13 columns]

In [58]:
df.loc[~df['Name'].str.contains('Mega')]

       #                 Name   Type 1  ... Generation  Legendary  Total
0      1            Bulbasaur    Grass  ...          1      False    318
1      2              Ivysaur    Grass  ...          1      False    405
2      3             Venusaur    Grass  ...          1      False    525
4      4           Charmander     Fire  ...          1      False    309
5      5           Charmeleon     Fire  ...          1      False    405
..   ...                  ...      ...  ...        ...        ...    ...
794  718     Zygarde50% Forme   Dragon  ...          6       True    600
795  719              Diancie     Rock  ...          6       True    600
797  720  HoopaHoopa Confined  Psychic  ...          6       True    600
798  720   HoopaHoopa Unbound  Psychic  ...          6       True    680
799  721            Volcanion     Fire  ...          6       True    600

[751 rows x 13 columns]

In [59]:
import re

In [60]:
df.loc[df['Type 1'].str.contains('fire|grass',flags = re.I,regex=True)]

       #                   Name Type 1  ... Generation  Legendary  Total
0      1              Bulbasaur  Grass  ...          1      False    318
1      2                Ivysaur  Grass  ...          1      False    405
2      3               Venusaur  Grass  ...          1      False    525
3      3  VenusaurMega Venusaur  Grass  ...          1      False    625
4      4             Charmander   Fire  ...          1      False    309
..   ...                    ...    ...  ...        ...        ...    ...
735  667                 Litleo   Fire  ...          6      False    369
736  668                 Pyroar   Fire  ...          6      False    507
740  672                 Skiddo  Grass  ...          6      False    350
741  673                 Gogoat  Grass  ...          6      False    531
799  721              Volcanion   Fire  ...          6       True    600

[122 rows x 13 columns]

In [62]:
df.loc[df['Name'].str.contains('^pi[a-z]*',flags = re.I,regex=True)]

       #                 Name    Type 1  ... Generation  Legendary  Total
20    16               Pidgey    Normal  ...          1      False    251
21    17            Pidgeotto    Normal  ...          1      False    349
22    18              Pidgeot    Normal  ...          1      False    479
23    18  PidgeotMega Pidgeot    Normal  ...          1      False    579
30    25              Pikachu  Electric  ...          1      False    320
136  127               Pinsir       Bug  ...          1      False    500
137  127    PinsirMega Pinsir       Bug  ...          1      False    600
186  172                Pichu  Electric  ...          2      False    205
219  204               Pineco       Bug  ...          2      False    290
239  221            Piloswine       Ice  ...          2      False    450
438  393               Piplup     Water  ...          4      False    314
558  499              Pignite      Fire  ...          5      False    418
578  519               Pidove    Normal  ...          5      False    264

[13 rows x 13 columns]

In [63]:
df.loc[df['Type 1'] == 'Fire','Type 1'] = 'Flamer'
df

       #                   Name   Type 1  ... Generation  Legendary  Total
0      1              Bulbasaur    Grass  ...          1      False    318
1      2                Ivysaur    Grass  ...          1      False    405
2      3               Venusaur    Grass  ...          1      False    525
3      3  VenusaurMega Venusaur    Grass  ...          1      False    625
4      4             Charmander   Flamer  ...          1      False    309
..   ...                    ...      ...  ...        ...        ...    ...
795  719                Diancie     Rock  ...          6       True    600
796  719    DiancieMega Diancie     Rock  ...          6       True    700
797  720    HoopaHoopa Confined  Psychic  ...          6       True    600
798  720     HoopaHoopa Unbound  Psychic  ...          6       True    680
799  721              Volcanion   Flamer  ...          6       True    600

[800 rows x 13 columns]

In [64]:
df.loc[df['Type 1'] == 'Flamer','Type 1'] = 'Fire'
df

       #                   Name   Type 1  ... Generation  Legendary  Total
0      1              Bulbasaur    Grass  ...          1      False    318
1      2                Ivysaur    Grass  ...          1      False    405
2      3               Venusaur    Grass  ...          1      False    525
3      3  VenusaurMega Venusaur    Grass  ...          1      False    625
4      4             Charmander     Fire  ...          1      False    309
..   ...                    ...      ...  ...        ...        ...    ...
795  719                Diancie     Rock  ...          6       True    600
796  719    DiancieMega Diancie     Rock  ...          6       True    700
797  720    HoopaHoopa Confined  Psychic  ...          6       True    600
798  720     HoopaHoopa Unbound  Psychic  ...          6       True    680
799  721              Volcanion     Fire  ...          6       True    600

[800 rows x 13 columns]

In [66]:
df.groupby(['Type 1']).mean().sort_values('Defense',ascending=False)

                   #         HP      Attack  ...  Generation  Legendary       Total
Type 1                                       ...
Steel     442.851852  65.222222   92.703704  ...    3.851852   0.148148  487.703704
Rock      392.727273  65.363636   92.863636  ...    3.454545   0.090909  453.750000
Dragon    474.375000  83.312500  112.125000  ...    3.875000   0.375000  550.531250
Ground    356.281250  73.781250   95.750000  ...    3.156250   0.125000  437.500000
Ghost     486.500000  64.437500   73.781250  ...    4.187500   0.062500  439.562500
Water     303.089286  72.062500   74.151786  ...    2.857143   0.035714  430.455357
Ice       423.541667  72.000000   72.750000  ...    3.541667   0.083333  433.458333
Grass     344.871429  67.271429   73.214286  ...    3.357143   0.042857  421.142857
Bug       334.492754  56.884058   70.971014  ...    3.217391   0.000000  378.927536
Dark      461.354839  66.806452   88.387097  ...    4.032258   0.064516  445.741935
Poison    251.785714  67.250000   74.678571  ...    2.535714   0.000000  399.142857
Fire      327.403846  69.903846   84.769231  ...    3.211538   0.096154  458.076923
Psychic   380.807018  70.631579   71.456140  ...    3.385965   0.245614  475.947368
Electric  363.500000  59.795455   69.090909  ...    3.272727   0.090909  443.409091
Flying    677.750000  70.750000   78.750000  ...    5.500000   0.500000  485.000000
Fighting  363.851852  69.851852   96.777778  ...    3.370370   0.000000  416.444444
Fairy     449.529412  74.117647   61.529412  ...    4.117647   0.058824  413.176471
Normal    319.173469  77.275510   73.469388  ...    3.051020   0.020408  401.683673

[18 rows x 10 columns]

In [75]:
df['count'] = 1
df.groupby(['Type 1']).count()['count']

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: count, dtype: int64

In [77]:
df.groupby(['Type 1','Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64